html, body {
    margin: 0;
    height: 100%;
}


img{
  width:100%;
}
a{
  font-family: 'Spectral SC', serif;
  font-weight: bolder;
  color: black;
}

a:visited {
  color: black;
}
a:hover{
  color: 	#5C5C5C;
}

.profile{
  height: 500px;
  background-color: white;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.ProfilePic{
  width: 35em;
  height: 50em;
  padding-top: 7em:
}

.ArtContainer{
  display: flex;
  flex-direction: column;
  width:100%;
  align-items: center;
}

.img-wrap{
  width: 40em;
  padding-top: 20em;
}

.PaintingName{
  padding-top: 1em;
  text-align: center;
  font-family: 'Spectral SC', serif;
}


.InfoBar{
  padding-top: 20em;
  padding-bottom: 7em;
  height: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*******Contact page******/


.Link{
  font-weight: bold;
}

.Info{
  font-family: 'Spectral SC', serif;


}

.ContactWay{
  width:100%;
  height: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12em;

}
